// Colors

$black:         #333333;
$blue:          #0096d6;
$blue-darker:   #006996;
$blue-dark:     #007dba;
$blue-light:    #00a9f1;
$gray:          #cccccc;
$gray-dark:     #676767;
$gray-light:    #e8e8e8;
$gray-lighter:  #f2f2f2;
$orange:        #e6734b;
$orange-dark:   #a65336;
$orange-light:  #ff8153;
$purple:        #915591;
$purple-dark:   #774677;
$purple-light:  #a863a8;
$yellow:        #e6c84b;
$yellow-dark:   #a69136;
$yellow-light:  #f6d650;
$white:         #ffffff;

// Status Colors

$status-green:        #529141;
$status-green-dark:   #315727;
$status-green-light:  #e3ffdb;
$status-red:          #f04c38;
$status-red-dark:     #70241a;
$status-red-light:    #ffebeb;
$status-yellow:       #f0aa3b;
$status-yellow-dark:  #6e4e1b;
$status-yellow-light: #fff8da;